.vscode/**
.vscode-test/**
src/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/.eslintrc.json
**/*.map
**/*.ts
node_modules/**
_t.js
*.vsix
.git/**
SETUP.md
tests/**
out/test/**
coverage/**
.nyc_output/**
